{% extends 'backoffice.html.twig' %}

{% block body %}
	<div class="table-responsive p-0">
		<table class="table align-items-center mb-0">
			<thead>
				<tr>
					<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Author</th>
					<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Conetent</th>
					<th class="text-secondary opacity-7"></th>
				</tr>
			</thead>
			<tbody>
				{% for post in posts %}
					<tr>
						<td>
							<div class="d-flex px-2 py-1">
								<div>
									<img src="../assets/img/team-2.jpg" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
								</div>
								<div class="d-flex flex-column justify-content-center">
									<h6 class="mb-0 text-sm">{{post.author}}</h6>
								</div>
							</div>
						</td>
						<td>
							<p class="text-xs font-weight-bold mb-0">{{post.contenu}}</p>
						</td>

						<td class="align-middle">
							<a href="{{ path('app_admin_delete', {'id': post.id}) }}" class="btn bg-gradient-primary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
								Delete
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
